.logo {
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
    height: 40px; // Add your desired height here
  }
  img {
    max-width: unset;
    height: 100%; // Makes image fill the container height
    width: auto; // Maintains aspect ratio
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.logo-mobile {
  display: block;
  width: 40px;
  height: 60px; // Add height for mobile logo
  padding: 10px 0 10px 0;
  @include media-breakpoint-up(sm) {
    display: none;
  }
  img {
    width: 100%;
    height: 100%; // Changed from 'auto' to fill height
    object-fit: contain; // Keeps aspect ratio, prevents distortion
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}



